# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Dependency directories
vendor/

# Go build artifacts
bin/
*.log

# IDE/editor
.idea/
.vscode/
*.swp
*.iml
workspace.xml
httpRequests/

# Configuration
config.yaml
.env

# Mac OS
.DS_Store

# SQLite базы данных (если будешь использовать)
*.db
*.sqlite
*.sqlite3

# Telebot session (если сохраняешь состояние бота в файл)
*.session.json